{% extends "base.html" %}
{% block title %}About Phage Protein Search Engine{% endblock %}
{% block header %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>About: Phage Protein Search Engine</h2>
            <p class="mt-3">
                The Phage Protein Search Engine bridges the gap for researchers by facilitating the identification of bacteriophage proteins that bind to specific bacteria. This specialized search platform is essential for the development of targeted phage therapies, offering an innovative solution to combat bacterial resistance. By leveraging advanced computational tools, we enable the detailed analysis of protein sequences and structures, providing crucial data for bioinformatics and molecular biology research.
            </p>
            <p class="mt-2">
                Our goal is to empower researchers and healthcare professionals by providing them with the tools they need to create more effective phage-based treatments, thus opening new avenues in the fight against infections that are resistant to traditional antibiotics.
            </p>
            <p class="mt-2">
                For further details about our methodologies, tools, or to collaborate, please reach out through any of the following platforms:
            </p>
            <div class="contact-info">
                <a href="https://www.linkedin.com/in/victor-németh-2a4357260/" target="_blank" class="btn btn-link btn-social"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href="mailto:victor18nemeth@hotmail.com" class="btn btn-link btn-social"><i class="fas fa-envelope"></i> Email</a>
                <a href="https://www.facebook.com/victor.nemeth.3/" target="_blank" class="btn btn-link btn-social"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://github.com/victornemeth" target="_blank" class="btn btn-link btn-social"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
